@import 'setup';

$fontTitle: 'Work Sans', sans-serif;
$fontMain: 'Open Sans', sans-serif;
$transition: all 0.3s ease;

$c1: #77c9d4;
$c2: #57bc90;
$c3: #015249;
$c4: #efefef;
$black: #333;

$gradient: linear-gradient(-45deg, $c2, $c1);

html,
body {
	font-family: $fontMain;
	margin: 0 13px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $fontTitle;
	font-weight: 300;
}

p, li {
	color: $black;
}

a {
	transition: $transition;
}

.devWrapper {
	padding: 8%;
}

.fullButton {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 0;
	border: 0;
	font-weight: 400;
	font-size: 14px;
	color: white;
	background: $c3;
	text-transform: uppercase;
	font-family: $fontTitle;
	transition: $transition;
	text-decoration: none;

	&:hover,
	&:focus {
		box-shadow: 0 8px 20px rgba(0,0,0,0.2);
	}
}


// HEADER

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: white;
	box-shadow: 0 2px 20px rgba(0,0,0,0.05);
	z-index: 5;

	.devWrapper {
		padding: 20px 3%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		> * {
			width: 30%;
		}

		> div {
			text-align: right;
		}

		> a {
			text-decoration: none;
			font-size: 14px;
			color: $black;
		}
	}

	p {
		text-align: center;
		text-transform: uppercase;
		font-family: $fontTitle;
		letter-spacing: 1px;
	}

	.hamburger {
		position: relative;
		border: 0;
		outline: none;
		height: 22px;
		width: 30px;
		padding: 0;
		z-index: 7;

		span {
			position: absolute;
			width: 30px;
			height: 2px;
			background: $black;
			right: 0;
			transition: $transition;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 10px;
			}

			&:nth-child(3) {
				top: 20px;
			}
		}

		&.showMenu {
			span {
				&:nth-child(1) {
					transform: rotate(45deg);
					top: 10px;
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					top: 10px;
				}
			}
		}
	}

	nav {
		position: fixed;
		background: white;
		height: 100vh;
		width: 80%;
		max-width: 350px;
		top: 0;
		right: -100%;
		padding: 80px 20px 20px;
		box-shadow: -10px 0 25px rgba(0,0,0,0.05);
		z-index: 6;
		transition: all 0.35s ease;

		&.showMenu {
			right: 0;
		}

		> span {
			position: absolute;
			top: 15px;
			width: calc(100% - 40px);
			display: block;
			font-family: $fontTitle;
			font-size: 30px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 5px;
			color: $c3;
			border-bottom: 2px solid $c3;
			padding-bottom: 10px;
		}

		ul.subMenu {
			position: absolute;
			height: calc(100% - 100px);
			width: calc(100% - 40px);
			top: 80px;
			right: -100%;
			background: white;
			z-index: 7;
			overflow: auto;
			transition: $transition;

			a {
				font-size: 16px;

				.fa {
					position: relative;
					font-size: 16px;
					color: inherit;
					padding-right: 10px;
				}

				&:hover,
				&:focus {
					padding-left: 20px;
				}
			}

			&.showSubMenu {
				right: 20px;
			}
		}

		li {
			list-style: none;
			margin: 5px 0;
			border-bottom: 1px solid rgba(0,0,0,0.05);

			&:last-child {
				border-bottom: 0;
			}

			&.backSubMenu {
				border-bottom: 0;

				a {
					text-transform: uppercase;
					font-family: $fontTitle;
					letter-spacing: 2px;
					color: $c2;

					&:hover,
					&:focus {
						padding-left: 0;
					}
				}
			}
		}

		a {
			position: relative;
			display: block;
			text-decoration: none;
			color: $black;
			padding: 10px 0;
			font-size: 18px;
			outline: none;

			&:hover,
			&:focus {
				color: $c2;
			}

			.fa {
				position: absolute;
				right: 0;
				font-size: 30px;
				color: $c2;
			}
		}

		> span.menuSocial {
			bottom: 0;
			border: 0;
			top: auto;
			font-size: 16px;
			letter-spacing: 2px;
			text-align: center;

			a {
				display: inline-block;
				margin: 5px;

				.fa {
					position: relative;
					font-size: 26px;
					color: $c3;
					transition: $transition;
				}

				&:hover,
				&:focus {
					.fa {
						color: $c2;
					}
				}
			}
		}
	}
}


// HOME BANNER

.banner {
	margin-top: 80px;
}

.banner .devWrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 85vh;
	min-height: 400px;
	padding: 0;
}

.leftBanner {
	position: relative;
	width: 45%;
	height: 100%;
	padding-left: 3%;
	background: $c3;
	display: flex;
	align-items: center;
	justify-content: center;

	h1 {
		position: relative;
		color: white;
		font-size: 60px;
		text-align: right;
		z-index: 2;
	}

	&:before {
		position: absolute;
		content: "";
		height: 100%;
		width: 50%;
		background: $c3;
		transform: skew(-8deg);
		top: 0;
		right: -10%;
		box-shadow: 10px 0 20px rgba(0,0,0,0.08);
		z-index: 1;
	}
}

.rightBanner {
	position: relative;
	width: 55%;
	height: 100%;
	background-image: url('http://rentofficespacetoronto.com/wp-content/uploads/2017/11/toronto-city-background.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 5% 0 10%;

	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $gradient;
		opacity: 0.9;
	}

	h2 {
		position: relative;
		color: #e8e8e8;
		font-size: 36px;
		margin-bottom: 20px;
		z-index: 1;
		text-shadow: 0 5px 20px rgba(0,0,0,0.25);
	}

	form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		z-index: 1;
	}

	.select {
		position: relative;
		width: calc(50% - 10px);
		margin: 10px 5px;

		&:nth-child(1) {
			width: calc(100% - 10px);
		}

		&:after {
			position: absolute;
			font-family: 'FontAwesome';
			content: '\f0d7';
			right: 10px;
			top: 10px;
		}
	}

	select {
		-webkit-appearance: none;
		border-radius: 0;
		padding: 10px;
		font-size: 14px;
		width: 100%;
		background: #e8e8e8;
		color: #333a56;
		border: 0;
		font-family: $fontMain;
	}

	button {
		padding: 10px 30px;
		border-radius: 0;
		border: 0;
		font-weight: 400;
		font-size: 14px;
		color: $c3;
		background: white;
		text-transform: uppercase;
		font-family: $fontTitle;
		margin: 20px 5px 0;
		box-shadow: 0 5px 20px rgba(0,0,0,0.05);
		transition: $transition;

		&:hover,
		&:focus {
			background: $c3;
			color: white;
			cursor: pointer;
		}
	}
}


// HOME CONTACT BANNER

.homeContact {
	text-align: center;

	.devWrapper {
		max-width: 800px;
		margin: auto;
		padding: 8% 0;
	}

	h2 {
		color: $c3;
		font-size: 40px;
		font-weight: 400;
		max-width: 600px;
		margin: 0 auto 4%;
	}

	.fullButton {
		margin-top: 6%;
	}
}


// NEIGHBOURHOODS

.homeNeighbourhoods {
	background: $c4;

	.devWrapper {
		text-align: center;
		padding-bottom: 2%;
	}

	h2 {
		color: $c3;
		font-size: 40px;
		font-weight: 400;
		max-width: 600px;
		margin: auto;
	}

	p {
		max-width: 800px;
		margin: 20px auto 6%;
	}
}

.neighbourhoodsGroup {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.neighbourhoodSingle {
	width: 200px;
	margin: 0 10px 8%;

	a {
		text-decoration: none;
		color: white;

		&:hover,
		&:focus {
			img {
				filter: grayscale(1);
			}

			figure:after {
				opacity: 0.7;
			}

			figure:before {
				opacity: 1;
			}
		}
	}

	h3 {
		display: inline-block;
		background: $c3;
		padding: 2px 15px;
		font-size: 16px;
	}

	img {
		transition: $transition;
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	figure {
		position: relative;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin: 0 auto 20px;

		&:before {
			position: absolute;
			font-family: 'FontAwesome';
			content: "\f002";
			color: white;
			width: 100%;
			text-align: center;
			top: 50px;
			font-size: 30px;
			opacity: 0;
			transition: $transition;
			z-index: 5;
		}

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			top: 0;
			left: 0;
			background: $gradient;
			opacity: 0;
			transition: $transition;
		}
	}
}


// HOME SOCIAL

.homeSocial {
	.devWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.mediaGrid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
}

.instaImage {
	position: relative;
	display: block;
	width: calc(500px / 3 - 4px);
	height: calc(500px / 3 - 4px);
	margin: 2px;
	background-size: cover;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	opacity: 0.8;

	&:hover,
	&:focus {
		opacity: 1;
	}
}

.homeSocialDetails {
	text-align: center;
	width: calc(90% - 500px);

	h2 {
		color: $c3;
		font-size: 40px;
		font-weight: 400;
		margin: 0 auto 6%;
	}

	a {
		display: block;
		color: $c2;
		font-size: 20px;
		text-decoration: none;
		margin: 10px auto;

		&:hover,
		&:focus {
			color: $c3;

			.fa {
				opacity: 1;
			}
		}

		.fa {
			color: grey;
			margin-right: 20px;
			font-size: 24px;
			opacity: 0.6;
			transition: $transition;
		}
	}
}


// FOOTER

footer {
	border-top: 1px solid rgba(0,0,0,0.1);

	.devWrapper {
		padding: 4% 8%;
	}

	.footerWrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.leftFooter,
	.rightFooter {
		width: 45%;
	}

	.leftFooter a {
		display: block;
		margin-bottom: 10px;
	}

	h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: 400;
		color: $c3;
		margin: 30px 0 20px;
	}

	ul {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		max-width: 700px;
	}

	li {
		list-style: none;
		display: inline-block;
		padding: 5px 30px 5px 0;
	}
	
	a {
		text-decoration: none;
		color: $black;
		opacity: 0.6;
		font-size: 14px;

		&:hover,
		&:focus {
			opacity: 1;
		}

		.fa {
			margin-right: 5px;
		}
	}
}